# Makefile for libuser_management_tool
# Copyright (C) 2018 Sergey Kolevatov

###################################################################

VER := 0

APP_PROJECT := user_management_tool

APP_BOOST_LIB_NAMES := system

APP_THIRDPARTY_LIBS =

APP_SRCC = user_management_tool.cpp

APP_EXT_LIB_NAMES = \
	user_manager \
	serializer \
	utils \
	password_hasher \
	anyvalue
